@media screen and (max-width: 576px){
    .nav-bar .nav-links {
        display: none;
    }

    .nav-bar .logo img{
        width: 70px;
    }

    .nav-bar {
        padding: 20px 20px;
    }
    
    .hero-details-img {
        order: 1;
    }

    .hero-details {
        order: 2;
        margin: 28px 16px 0 16px;
    }

    .hero-banner {
        grid-template-columns: 1fr;
    }

    .hero-details h2 {
        font-size: 1.5rem;
        padding-right: 100px;
    }

    .hero-details p{
        font-size: 0.875rem;
    }





    /* SECTION HEADER START */
    .section-header {
        padding: 0px 28px;

    }

    .section-header h2 {
        font-size: 1.5rem;
    }

    .section-header p {
        font-size: 0.85rem;
        line-height: 20px;
    }

    /* SECTION HEADER END */


    .plants-show {
        margin-top: 65px;
    }

    .all-product-plants {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 14px;
    }

    .plants-lover{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 15px;
        margin-top: 50px;
    }

    #trusted-badge{
        display: none;
    }


    .plants-details h2 {
        font-size: 1.5rem;
        padding-right: 0;
    }

    .plants-details ul li {
        font-size: 0.85rem;
    }

    .single-product-plant h3 {
        font-size: 1rem;
    }
    .single-product-plant span {
        font-size: 1rem;
    }

    

   .all-deals {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .single-deal, #first-deal, #second-deal, #third-deal {
        width: calc(100% - 40px) !important;
        height: 205px !important;
    }

    .single-deal h3 ,#first-deal h3, #second-deal h3, #third-deal h3{
        font-size: 1.25rem;
    }

    .single-deal a, #first-deal a, #second-deal a, #third-deal a{
        font-size: 1rem;
    }

    #first-deal{
        order: 1;
    }

    #second-deal{
        order: 3;
    }

    #third-deal{
        order: 2;
    }







    .subscribe {
        margin-top: 45px;
        padding: 100px 0;
    }


    .subscribe-email h2 {
        font-size: 1.25rem;
    }

    .subscribe-email form input {
        width: 250px;
    }

    .subscribe-email form button {
        width: 100px;
    }




    .footer-section {
        flex-direction: column;
        gap: 25px;
        padding-left: 20px;
    }


}



@media screen and (min-width: 577px) and (max-width: 992px){
    .hero-banner h2 {
        font-size: 2.5rem;
    }

    .hero-banner p {
        font-size: 1.15rem;
    }

    .hero-banner {
        padding-left: 10px;
    }

    .section-header {
        padding: 0 150px;
    }

    .section-header h2 {
        font-size: 2.5rem;
    }

    .section-header p {
        font-size: 1.15rem;
    }

    .all-product-plants {
        padding: 0 20px;
    }

    .plants-details h2 {
    font-size: 2.5rem;
    padding-right: 50px;
}

.plants-details ul li {
    font-size: 1.15rem;
}

.plants-lover {
    gap: 40px;
}

#trusted-badge {
    display: none;
}

.plants-lover {
    padding: 10px;
}

#first-deal {
    height: 200px;
}

#third-deal {
    height: 200px;
}

.all-deals {
    padding: 0 20px;
}

.subscribe-email h2 {
    font-size: 2.5rem;
}

.web-details p {
    font-size: 1.15rem;
}

.footer-section {
    gap: 50px;
    padding: 50px 20px;
}

}